.about {
  padding: 160px 0;

  @include small-desktop {
    padding: 80px 0;
  }

  &__title,
  &__descr,
  &__list {
    grid-column: 5 / -1;
  }

  &__title {
    margin-bottom: 60px;

    @include small-desktop {
      margin-bottom: 30px;
    }
  }

  &__text {
    margin: 0;
    text-indent: 34%;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.05;
    letter-spacing: -0.02em;
    z-index: 3;
    mix-blend-mode: screen;
    color: black;
    background-color: var(--background);



    &-wrapper {
      position: relative;
      grid-column: span 12;
      margin-bottom: 120px;
@include small-desktop {
          margin-bottom: 60px;
  }
    }

    &-bg {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url("../img/bg/text-bg.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    @include small-desktop {
      font-size: 46px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 123px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--black);

    @include small-desktop {
        margin-bottom: 60px;
      }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    max-width: 218px;
  }

  &-advantages {
    &__numbers {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 90px;
      line-height: 1.2;
      letter-spacing: -0.02em;
      color: var(--dark-blue);

      &--small {
        font-size: 40px;
      }
    }

    &__descr {
      display: block;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: -0.02em;
      color: var(--black);
    }
  }
}