.hero {
  position: relative;
  padding-top: 174px;
  padding-bottom: 240px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
  }

  &__title {
    margin: 0;
    max-width: 888px;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--black);
  }

  &__descr {
    margin: 0;
    max-width: 430px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--black);
  }

  &__bg {
    position: absolute;
    z-index: -1;

    &--1 {
      top: 2%;
      right: 37%;
    }

    &--2 {
      top: 2%;
      right: 14%;
    }

    &--3 {
      top: 36%;
      right: 34%;
    }

    &--4 {
      top: 35%;
      right: 19%;
    }

    &--5 {
      bottom: 9%;
      right: 14%;
    }
  }
}