.logo {
  text-decoration: none;

  & img {
    display: block;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
  }
}