.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--black);
    border-radius: 8px;
    padding: 4px 8px;
    transition: var(--main-trs);

    &--active {
      background-color: var(--blue-20);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
    }
  }
}

@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--blue);
  }
}