.nav {

  @include tablet {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: block;
    overflow-y: auto;
    padding: 50px;
    width: 80%;
    height: 100vh;
    background-color: var(--background);
    transform: translateX(-150%);
    transition: transform 0.2s ease;

    &--active {
      transform: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 8px;

    @include tablet {
      align-items: start;
      flex-direction: column;
      gap: 20px;
    }


  }

  &__link {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--black);
    border-radius: 8px;
    padding: 4px 8px;
    transition: var(--main-trs);

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--blue);
      opacity: 0;
      transition: var(--main-trs);
    }

    &--drop-active::before {
      opacity: 1;
    }

    &--active {
      background-color: var(--blue-20);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
    }

    @media (any-hover: hover) {
      &:hover:before {
        opacity: 1;
      }

      &--active:hover:before {
        opacity: 0;
      }
    }
  }
}

