.stages {
  padding-top: 30px;
  padding-bottom: 68px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 120px;
  }

  &__list {
    grid-column: 5 / -1;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__item {
    opacity: 0.5;
    transition: var(--main-trs);
  
    &:hover {
      opacity: 1;
    }

    @include tablet {
      opacity: 1;
    }
  }

  &__img {
    grid-column: 3 span;
  }

  &__number {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: var(--black);
  }

  &__text {
    grid-column: 8 span;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--black);
  }

  &__descr {
    margin: 0;
    max-width: 393px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--black);

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}