.title {
  margin: 0;
  padding-top: 6px;
  padding-left: 34px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  background-position: left top;
  background-size: 30px 30px;
  background-repeat: no-repeat;

  &--theme-dark {
    color: var(--black);
    background-image: url("../img/title-lightning-bolt.webp");
  }
}