<section class="about">
  <div class="container about__container grid">
    <h2 class="title title--theme-dark about__title">О&nbsp;нас</h2>
    <div class="about__text-wrapper">
    <p class="about__text">
      В&nbsp;основе нашего подхода&nbsp;&mdash;
      стратегическое видение бизнеса клиентов и&nbsp;поиск точек роста для их&nbsp;сайтов
    </p>
    <div class="about__text-bg"></div>
    </div>
    <p class="about__descr">
      Seo Performance Agency&nbsp;&mdash; это команда профессионалов, которая быстро и&nbsp;эффективно привлекает
      клиентов
      через органический поиск. Мы&nbsp;работаем с&nbsp;высоконкурентными нишами, используя собственные софты
      и&nbsp;авторские
      хаки. Благодаря проверенным методикам и&nbsp;ориентации на&nbsp;реальные результаты, 35% новых клиентов приходят
      к&nbsp;нам по&nbsp;рекомендациям.
    </p>
    <ul class="list-reset about__list about-advantages">
      <li class="about__item">
        <span class="about-advantages__numbers">
          500<span class="about-advantages__numbers--small">+</span>
        </span>
        <span class="about-advantages__descr">
          довольных клиентов
        </span>
      </li>
      <li class="about__item">
        <span class="about-advantages__numbers">
          18<span class="about-advantages__numbers--small">+</span>
        </span>
        <span class="about-advantages__descr">
          лет на&nbsp;рынке
        </span>
      </li>
      <li class="about__item">
        <span class="about-advantages__numbers">
          200<span class="about-advantages__numbers--small">+</span>
        </span>
        <span class="about-advantages__descr">
          проектов в&nbsp;работе
          и&nbsp;только один возврат
        </span>
      </li>

    </ul>
  </div>
</section>