<section class="companies">
  <h2 class="companies__title">Нам доверяют</h2>

  <div class="companies__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-1.webp" alt="Совкомбанк лого">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-2.webp" alt="Jooble лого">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-3.webp" alt="Купикод лого">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-4.webp" alt="Мосгортелеком лого">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-1.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-2.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-3.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-4.webp" alt="">
      </div>
    </div>
  </div>
  <div class="companies__swiper-revert">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-5.webp" alt="Ostrovok лого">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-6.webp" alt="Salamander лого">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-7.webp" alt="Электронная Москва лого">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-8.webp"
          alt="Ленком марка Захарова лого">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-5.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-6.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-7.webp" alt="">
      </div>
      <div class="swiper-slide">
        <img class="companies__image" src="img/companies-slider/companies-slide-8.webp" alt="">
      </div>
    </div>
  </div>
</section>