<header class="header">
  <div class="container header__container">
    <a class="logo" href="/">
      <img src="img/logo.webp" alt="Seo Perfomance Logo">
    </a>
    <div class="nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a class="nav__link nav__link--active" href="/">Главная</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Услуги</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Кейсы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Команда</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">О компании</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Контакты</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Партнерам</a>
        </li>
      </ul>
    </div>
  </div>
</header>
