<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      SEO продвижение сайтов
    </h1>
    <p class="hero__descr">
      Построим Ваш бизнес в&nbsp;сети быстро, просто и&nbsp;эффективно!
    </p>
    <a class="btn hero__link" href="#">Заказать услугу</a>
    <div class="hero__bg hero__bg--1">
      <img src="img/bg/hero-bg-1.png" aria-hidden="true" alt="">
    </div>
    <div class="hero__bg hero__bg--2">
      <img src="img/bg/hero-bg-2.png" aria-hidden="true" alt="">
    </div>
    <div class="hero__bg hero__bg--3">
      <img src="img/bg/hero-bg-3.png" aria-hidden="true" alt="">
    </div>
    <div class="hero__bg hero__bg--4">
      <img src="img/bg/hero-bg-4.png" aria-hidden="true" alt="">
    </div>
    <div class="hero__bg hero__bg--5">
      <img src="img/bg/hero-bg-5.png" aria-hidden="true" alt="">
    </div>
  </div>
</section>