<section class="promotion">
  <div class="container promotion__container grid">
    <h2 class="title title--theme-dark promotion__title">
      Для чего нужно продвижение?
    </h2>
    <div class="promotion__content">
      <p class="promotion__descr">
        SEO-оптимизация&nbsp;&mdash; это способ &laquo;рассказать&raquo; поисковым системам, что Ваш сайт есть и&nbsp;он&nbsp;интересен. Продвижение сайта помогает привлекать на&nbsp;сайт больше посетителей, которые уже заинтересованы в&nbsp;том, что&nbsp;Вы предлагаете.
      </p>
      <p class="promotion__descr">
        Правильная SEO-оптимизация не&nbsp;только увеличивает количество посетителей, но&nbsp;и&nbsp;улучшает общее впечатление от&nbsp;Вашего сайта, делая его более привлекательным и&nbsp;полезным.
      </p>
      <a class="btn promotion__btn" href="#">Заказать услугу</a>
    </div>
    <div class="promotion__bg-1">
      <img src="img/bg/promotion-bg-1.webp" aria-hidden="true" alt="">
    </div>
    <div class="promotion__bg-2">
      <img src="img/bg/promotion-bg-2.webp" aria-hidden="true" alt="">
    </div>
  </div>
 
</section>