<section class="questions">
  <div class="container questions__container">
    <h2 class="title title--theme-dark questions__title">Частые вопросы</h2>
    <ul class="list-reset question__list">
      <li class="questions__item spoiler">
        <div class="spoiler__header">
          <div class="spoiler__title">Какие гарантии мы даем по SEO продвижению?</div>
          <div class="spoiler__icon">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 1V21M1 11H21" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
        </div>
        <div class="spoiler__content">
          <p>Мы гарантируем прозрачный подход к работе и предоставление полной отчетности по всем проводимым действиям.
          </p>
          <p>
            Гарантировать точные позиции в поисковой выдаче или определенный уровень трафика невозможно из-за меняющихся
            алгоритмов
            поисковых систем и действий конкурентов. </p>
        </div>
      </li>
      <li class="questions__item spoiler">
        <div class="spoiler__header">
          <div class="spoiler__title">Сколько стоит SEO-оптимизация?</div>
          <div class="spoiler__icon">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 1V21M1 11H21" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
        </div>
        <div class="spoiler__content">
          <p>Стоимость SEO-оптимизации формируется индивидуально и&nbsp;зависит от&nbsp;множества факторов.
            К&nbsp;ключевым относятся начальное состояние вашего сайта, конкурентность в&nbsp;вашей нише, а&nbsp;также
            количество
            и&nbsp;сложность ключевых запросов, которые&nbsp;Вы хотите продвигать.</p>
        </div>


      </li>
      <li class="questions__item spoiler">
        <div class="spoiler__header">
          <div class="spoiler__title">Какие преимущества у&nbsp;SEO перед другими методами продвижения?</div>
          <div class="spoiler__icon">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 1V21M1 11H21" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
        </div>
        <div class="spoiler__content">
          <p>SEO-продвижение&nbsp;&mdash; это долгосрочная инвестиция в&nbsp;Ваш сайт, которая приносит устойчивый
            результат.
            В&nbsp;отличие от&nbsp;контекстной рекламы, где трафик прекращается сразу после остановки финансирования,
            SEO продолжает
            работать на&nbsp;Вас.</p>
          <p>
            SEO привлекает целевую аудиторию, что существенно повышает шансы на&nbsp;конверсию. К&nbsp;тому&nbsp;же, SEO
            помогает
            улучшить общее восприятие Вашего бренда и&nbsp;повысить доверие потенциальных клиентов.</p>
        </div>
      </li>
      <li class="questions__item spoiler">
        <div class="spoiler__header">
          <div class="spoiler__title">Какие сроки у&nbsp;SEO продвижения?</div>
          <div class="spoiler__icon">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 1V21M1 11H21" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
        </div>
        <div class="spoiler__content">
          <p>SEO-продвижение&nbsp;&mdash; это не&nbsp;однократная акция, а&nbsp;длительный и&nbsp;постоянный процесс. В&nbsp;среднем,
          первые заметные результаты могут появиться через 3-6 месяцев регулярной работы над сайтом,
          но&nbsp;окончательные результаты становятся видны обычно через 6-12&nbsp;месяцев.</p>
        </div>
      </li>
      <li class="questions__item spoiler">
        <div class="spoiler__header">
          <div class="spoiler__title">Какие результаты ждать от&nbsp;SEO продвижения?</div>
          <div class="spoiler__icon">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 1V21M1 11H21" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
        </div>
        <div class="spoiler__content">
          <p>Среди основных результатов SEO — улучшение позиций сайта в поисковой выдаче по целевым запросам, увеличение трафика и
          рост числа лидов или продаж. В долгосрочной перспективе SEO способствует укреплению бренда и улучшению его видимости в
          интернете.</p>
        </div>
      </li>
    </ul>
  </div>
</section>