<section class="request">
  <div class="container request__container">
    <h2 class="request__title">Соберем ключевые запросы, составим
      план продвижения и&nbsp;сделаем Вам предложение
      по&nbsp;оптимизации сайта.</h2>
    <form class="form" id="request_plan">
      <div class="form__row">
        <input class="form__input" name="phone_number" type="tel" placeholder="+7 (___) ___-__-1__">
        <input class="form__input" type="text" name="site_link" placeholder="Адрес сайта">
        <button class="btn-reset btn btn--big form__btn">Оставить заявку</button>
      </div>
      <div class="form__group">
        <input class="form__checkbox" type="checkbox" name="privacy_policy" id="privacy_policy">
        <label class="form__label" for="privacy_policy">
          Я даю согласие на обработку своих персональных данных, согласно <a class="form__inside-link" href="">политике
            конфиденциальности</a>
        </label>
      </div>
    </form>
  </div>
</section>