<section class="stages">
  <div class="container stages__container">
    <h2 class="title title--theme-dark stages__title">Этапы работы по&nbsp;SEO-продвижению</h2>
    <ul class="list-reset stages__list">
      <li class="stages__item grid">
        <div class="stages__img">
          <img src="img/stages-1.webp" aria-hidden="true" alt="">
        </div>
        <span class="stages__number">01</span>
        <div class="stages__text">
          <h3 class="stages__subtitle">Анализ Вашего сайта и&nbsp;изучение конкурентов</h3>
          <p class="stages__descr">
            Мы&nbsp;смотрим, какие ключевые слова используют Ваши конкуренты, как устроены их&nbsp;сайты, и&nbsp;что
            можно взять.
          </p>
          <p class="stages__descr">
            Мы&nbsp;также анализируем Вашу аудиторию: кто они, чего хотят, что ищут в&nbsp;интернете. Это позволяет нам
            точно
            понять, какие изменения нужны Вашему сайту для его успеха.
          </p>
        </div>
      </li>
      <li class="stages__item grid">
        <div class="stages__img">
          <img src="img/stages-2.webp" aria-hidden="true" alt="">
        </div>
        <span class="stages__number">02</span>
        <div class="stages__text">
          <h3 class="stages__subtitle">Разработка комплексной стратегии
            конкурентов</h3>
          <p class="stages__descr">
            На&nbsp;основе собранной информации мы&nbsp;составляем детальный план действий.
          </p>
          <p class="stages__descr">
            Он&nbsp;включает в&nbsp;себя изменения на&nbsp;сайте
            для улучшения его структуры, оптимизацию контента под нужные ключевые слова и&nbsp;создание новых страниц,
            которые могут
            привлечь целевую аудиторию.
          </p>
        </div>
      </li>
      <li class="stages__item grid">
        <div class="stages__img">
          <img src="img/stages-3.webp" aria-hidden="true" alt="">
        </div>
        <span class="stages__number">03</span>
        <div class="stages__text">
          <h3 class="stages__subtitle">Техническая и&nbsp;контентная оптимизация сайта</h3>
          <p class="stages__descr">
            Мы&nbsp;вносим изменения в&nbsp;код сайта, чтобы он&nbsp;лучше индексировался поисковыми системами. Это и&nbsp;улучшение
            скорости загрузки страниц,
            и&nbsp;оптимизация мета-тегов. Важно, чтобы каждая страница была легко доступна и&nbsp;понятна
            как пользователям, так и&nbsp;поисковым системам.
          </p>
        </div>
      </li>
      <li class="stages__item grid">
        <div class="stages__img">
          <img src="img/stages-4.webp" aria-hidden="true" alt="">
        </div>
        <span class="stages__number">04</span>
        <div class="stages__text">
          <h3 class="stages__subtitle">Активное создание и&nbsp;продвижение
          контента</h3>
          <p class="stages__descr">
          Регулярное создание качественного контента важно для привлечения и&nbsp;удержания аудитории. Мы&nbsp;пишем статьи
          и&nbsp;добавляем инфографику.
          </p>
          <p class="stages__descr">
            Это увеличивает шансы, что люди будут делиться Вашим контентом, что напрямую влияет на&nbsp;Вашу популярность
            в&nbsp;интернете.
          </p>
        </div>
      </li>
      <li class="stages__item grid">
        <div class="stages__img">
          <img src="img/stages-5.webp" aria-hidden="true" alt="">
        </div>
        <span class="stages__number">05</span>
        <div class="stages__text">
          <h3 class="stages__subtitle">Получение ссылок на&nbsp;ваш сайт</h3>
          <p class="stages__descr">
          Чтобы увеличить доверие к&nbsp;вашему сайту, мы&nbsp;работаем над тем, чтобы другие ресурсы ссылались на&nbsp;вас. Это
          могут быть статьи, блоги или страницы информационных порталов.
          </p>
          <p class="stages__descr">
          Каждая такая ссылка повышает Вашу видимость для поисковых систем и&nbsp;делает Ваш сайт более популярным.
          </p>
        </div>
      </li>
      <li class="stages__item grid">
        <div class="stages__img">
          <img src="img/stages-6.webp" aria-hidden="true" alt="">
        </div>
        <span class="stages__number">06</span>
        <div class="stages__text">
          <h3 class="stages__subtitle">Анализ выполненных работ</h3>
          <p class="stages__descr">
          Мы&nbsp;регулярно проверяем, какие улучшения работают, и&nbsp;адаптируем стратегию под текущие условия. Это может
          включать изменение ключевых слов или переосмысление контента.
          </p>
          <p class="stages__descr">
          Это позволяет нам гибко реагировать
          на&nbsp;изменения в&nbsp;поведении пользователей
          и&nbsp;трендах поисковых систем.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>